/* 1 */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

#grid-container{
  height: 100vh;
  background-color: #5F2E7E;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:10% 75% 15%;
  gap:10px;
  grid-template-areas: 
  "nav nav nav nav nav nav nav nav nav nav nav nav"
  "login login login login login login login login login login login login"
  "bot bot bot bot bot bot bot bot bot bot bot bot";
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    background-color: #5F2E7E;
  }
  
.row1-items{
    padding: 20px;
}


#login{
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    /* background: url("../images/principal.mp4"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 100%;
}

video{
  height: 100%;
  width: 100%;
  background-size: cover;
}


#boton{
    grid-area: bot;
    display: flex;
    justify-content: center;
    align-items: top; /* Set to flex-end */
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    background-color: #5F2E7E;

    height: 100%;
}

#bot {
  background-color: #5F2E7E;
    color: #fff; /* Set the text color */
    font-size: 60px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-family: 'VT323', monospace;
    text-decoration: none;
  }
  
  #bot:hover {
    color: #FAA6FF; /* Change the background color on hover */
  }

  .row1-items:hover {
    color: #FAA6FF; /* Change the background color on hover */
  }

 
  


