@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

#grid-container{
  height: 100vh;
  background-color: #532473;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:5% 80% 10%;
  gap:10px;
  grid-template-areas: 
  "nav nav nav nav nav nav nav nav nav nav nav nav"
  "login login login login login login login login login login login login"
  "bot bot bot bot bot bot bot bot bot bot bot bot";
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    background-color: #532473;
  }
  
.row1-items{
    padding: 20px;
}


#login{
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    background: url("../images/Logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    height: 100%;
}


#boton{
    grid-area: bot;
    display: flex;
    justify-content: center;
    align-items: center; /* Set to flex-end */
    flex-direction: row;
    color: aliceblue;
    font-size: 30px;
    background-color: #532473;
   
    height: 100%;
}

#bot {
    background-color: #345995; /* Set the background color */
    color: #fff; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Add some padding */
    font-size: 30px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
    border-radius: 5px; /* Add some border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-family: 'VT323', monospace;
  }
  
  #bot:hover {
    background-color: #FAA6FF; /* Change the background color on hover */
  }
  


