*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#grid-container{
    margin: 0;
    display: grid;
    height: 100vh;
    align-items: center;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-rows: 10% 50% 10% 25% 5%;
    grid-template-areas: 
    "row1" 
    "row2" 
    "row3"
    "row4"
    "row5";
}


#row1{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: row1;
    align-items: center;
    background-color:#1c2f3b;
    color:white;
    
}

#der{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    
}

#izq{
    display: flex;
    flex-direction: row; 
}

.row1-items{
    margin: 10px;
    
}

#row2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: row2;
    align-items: center;
    background-color: #8e6416;
    padding: auto;
    color:white;
}

#titu{
    font-size: 23px;
}

#parrafo{
    font-size: small;
    text-align: center;
    display: block;
    width:850px;
}

#row3{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: row3;
    align-items: center;
    background-color: #1c2f3b;
    color:white;

}

#mail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
form {
    display: flex;
    margin: 10px;
  }


#row4{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    grid-area: row4;
    align-items: center;
    
}



#row5{
    height: 100%;
    grid-area: row5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1c2f3b;
    font-size: x-small;
    color:white;
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    
}