@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
*{
    box-sizing: border-box;
}
#logo{
  width: 300px;
  height: 200px;
  margin-right: 10px;
}
#title{
  grid-column: 1 / -1;
  display: flex;
  align-self: center;
  flex-direction: row;
  color: aliceblue;
  font-size:100px;
  font-family: 'VT323', monospace;
  text-shadow: 2px 2px 2px #5F2E7E;
  text-align: center;
}

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }




body, html {
    padding: 20px;
    font-family: 'VT323', monospace;
    background: linear-gradient(#d2a2dc,#C874D9, #5F2E7E, #25013c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 2px #C874D9;
    width: 100%;
    height: 3000px;
    margin-bottom: 50px;

    
}
  
  @media (min-width: 768px) {
    /* adjust the height of the background for larger screens */
    .background {
      height: calc(100vh - 100px);
    }
  }
  
  .grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  header {
    color: #fff;
    padding: 10px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: start;
    padding: 10px;
  }
  


  #menu{
    grid-area: menu;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: larger;

  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    /* top: 0; */
  }

  li {
    float: left;
    font-size: 30px;  
  }
  
  li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #F9C784;
  }

  .grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  .subtitle {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 10px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 2px #F9C784;
    font-size: 50px;
  }

    #sub{
    font-family: 'VT323', monospace;
    color: #ffffff;
    text-shadow: 2px 2px 2px #5F2E7E;
    font-size: 50px;
    text-align: center;
    }

  

 

  p{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
    color: #fff;
    text-shadow: #cb6dcd 2px 2px 2px;
    margin: auto;
    padding: auto;
}

img {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: auto; /* Add this line to center the image horizontally */
}


 