@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
*{
    box-sizing: border-box;
}

.head{
  display: flex;

}
body, html{
    margin: 0;
    padding: 0;
    color: #F7F7F2;
    background-image: linear-gradient(to right, #F1E3E4, #A88FAC);
  }
  /* rgb(255, 178, 225) */


#logo{
  width: 400px;
  height: 300px;
  margin-right: 10px;
}

h1 {
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #29274C; 
    font-size: 100px;
    font-family: 'VT323', monospace;
    /* text-shadow: 2px 2px 2px #5F2E7E; */
  }
  
  .grid-container{
      height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  
    header {
      color: #ffffff;
      padding: 10px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #29274C;
        box-sizing: border-box;
      }
      
      button {
        background-color: #29274C;
        color: #F7F7F2;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-family: 'VT323', monospace;
        Font-size: 30px;
        }
    
    #menu{
        grid-area: menu;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: 'VT323', monospace;
        font-size: 30px;

    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: sticky;
        /* top: 0; */
      }
    
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: #29274C;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
      }
      
      li a:hover {
        color: #AF1B3F;
      }

    button:hover {
        background-color:#AF1B3F;
    }

    .imgcontainer {
        text-align: center;
        position: relative;
        height: fit-content;
    }
      
    .avatar {
        width: auto;
        height: 100%;
        position: absolute;;
        left: 50%;
        transform: translateX(-50%);
    
    }

    @keyframes play-once {
        to { visibility: hidden; }
      }


    .imgcontainer {
    position: relative;
    height: 200px;
    
    }
      
  .avatar {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }


    .container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 25px;
        background-color: #29274C;
    }

    .psw {
        float: right;
        padding-top: 16px;
        margin-bottom: 10px;
        font-family: 'VT323', monospace;
        font-size: large;
      }

    @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
    }
    }

    .my-label{
        color: #29274C;
        text-shadow: #F7F7F2;
        font-size: 30px;
        font-family: 'VT323', monospace;
    }

    a{
        color: rgb(249, 186, 245);
    }

    .remember{
        font-family: 'VT323', monospace;
        font-size: 20px;
        text-shadow: #5b0758;
    }
    #sub{
      font-family: 'VT323', monospace;
      color: #E6BCCD;
      text-shadow: 2px 2px 2px #AF1B3F;
      font-size: 50px;
      }
    #subtopic{
      background-color: #29274C;
    }
    .background {
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      margin-bottom: 10px;
      /* background: linear-gradient(to bottom, rgb(255, 178, 225), #5F2E7E); */
      z-index: -1; /* ensure the background stays behind the content */
    }