@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
*{
    box-sizing: border-box;
}

.head{
  display: flex;

}
body, html{
    margin: 0;
    padding: 0;
    background:#E6BCCD;
    text-align: justify;
    margin-bottom: 5%;
    
  }

p{
  font-family: 'Palatino', 'URW Palladio L', serif;
  color: #F7F7F2;
  font-size: 20px;
}



#logo{
  width: 400px;
  height: 300px;
  margin-right: 10px;
}

h1 {
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #ffffff; 
    font-size: 100px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 2px #29274C; 
  }
  
  .grid-container{
      height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  
    header {
      color: #ffffff;
      padding: 10px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #B392AC;
        box-sizing: border-box;
      }
      
      button {
        background-color: #29274C;
        color: rgb(255, 255, 255);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-family: 'VT323', monospace;
        Font-size: 30px;
        }
    
    #menu{
        grid-area: menu;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: 'VT323', monospace;
        font-size: 30px;

    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: sticky;
        /* top: 0; */
      }
    
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
      }
      
      li a:hover {
        color: #E68EB0;
      }

    button:hover {
        background-color: #423f7b;
    }

    .imgcontainer {
        text-align: center;
        position: relative;
        height: 100px;
    }
      
    .avatar {
        width: auto;
        height: 100%;
        position: absolute;;
        left: 50%;
        transform: translateX(-50%);
    
    }

    @keyframes play-once {
        to { visibility: hidden; }
      }


    .imgcontainer {
    position: relative;
    height: 150px;
    
    }
      
  .avatar {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }


    .container {
        padding-left: 50px;
        padding-right: 50px;
        
        margin-bottom: 100px;
        /* height: 50px;; */
    }
   
    .container2 {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 25px;
      background-color: #29274C; 
      margin-bottom: 100px;
      /* height: 50px;; */
  }
    .title{
      margin-bottom:0px;
    }

    .psw {
        float: right;
        padding-top: 16px;
        margin-bottom: 10px;
        font-family: 'VT323', monospace;
        font-size: large;
      }

    @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
    }
    }

    .my-label{
        color: #29274C;
        text-shadow: #ffffff;
        font-size: 30px;
        font-family: 'VT323', monospace;
    }

    a{
        color: #C874D9;
    }


    #sub{
      font-family: 'VT323', monospace;
      color: #ffffff;
      text-shadow: 2px 2px 2px #423f7b;
      font-size: 50px;
      }
    
      