@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
*{
    box-sizing: border-box;
}

#title{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-size: 100px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 2px #5F2E7E;
  }

.head{
    display: flex;
  
}

body, html{
    margin: 0;
    padding: 0;
    /* color: aliceblue;
    background-image: linear-gradient(to right, rgb(255, 178, 225), #5F2E7E); */
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 178, 225), #5F2E7E);
    z-index: -1;
  }
  
 
  body {
    background-color: #5F2E7E;
  }
  
  @media (min-width: 768px) {
    .background {
      height: calc(100vh - 100px);
    }
  }
  
  .grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  header {
    color: #fff;
    padding: 10px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: start;
    padding: 10px;
  }
  
#title{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-size: 100px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 2px #f2caf5;
    
  }

  #menu{
    grid-area: menu;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: larger;
  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    /* top: 0; */
  }

  li {
    float: left;
    font-size: 30px;  
  }
  
  li a {
    display: block;
    color: #6f1182;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(255, 254, 253);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1 column for title, 2 columns for menu and subtitles */
    grid-template-rows: auto auto auto; /* auto rows for content height */
    grid-gap: 10px; /* spacing between grid items */
  }
  
  .title {
    grid-column: 1 / 3; /* span 2 columns */
    text-align: center; /* center text */
    font-size: 24px; /* adjust as needed */
    font-weight: bold; /* adjust as needed */
  }

  
  .subtitle {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

    #sub{
    font-family: 'VT323', monospace;
    color: #ffc4fd;
    text-shadow: 2px 2px 2px #eb8b24;
    font-size: 50px;
    }

  
  .subtitle img {
    max-width: 100%; /* ensure image doesn't overflow container */
  }
  
  #logo{
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }

  p{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
    color: #fff;
    text-shadow: #cb6dcd 2px 2px 2px;
    
}
/* Create Charts */
* {
  margin: 1%;
}

h1, h2, p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  font-size: 1.2em;
}

h1{
  margin: 0;
}

.container, canvas{
  padding: 1%;
  border: 1px solid black;
}

#creatingChart{
  margin: 0;
}

.container, .container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chartContainer1{
  border: 0;
  justify-content: center;
  display: flex;
  width: 100%;
}
.chartContainer2{
  border: 0;
  justify-content: center;
  display: flex;
  width: 100%;
}

.chartContainer1 canvas{
  flex-grow: 1;
  max-width: 30%; 
  max-height: 600px;
}
.chartContainer2 canvas{
  flex-grow: 1;
  max-width: 30%; 
  max-height: 600px;
}