@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
*{
    box-sizing: border-box;
}

#title{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-size: 9vw;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 2px #f2caf5;
  }

.head{
    display: flex;
  
}

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to right, rgb(255, 178, 225), #5F2E7E);
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  @media (min-width: 768px) {
    .background {
      height: calc(100vh - 100px);
    }
  }
  
  .grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  header {
    color: #fff;
    padding: 10px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: start;
    padding: 10px;
  }

  #menu{
    grid-area: menu;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: larger;
  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
  
  }

  li {
    float: left;
    font-size: 30px;  
  }
  
  li a {
    display: block;
    color: #6f1182;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(255, 254, 253);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1 column for title, 2 columns for menu and subtitles */
    grid-template-rows: auto auto auto; /* auto rows for content height */
    grid-gap: 10px; /* spacing between grid items */
  }
  
  .title {
    grid-column: 1 / 3; /* span 2 columns */
    text-align: center; /* center text */
    font-size: 24px; /* adjust as needed */
    font-weight: bold; /* adjust as needed */
  }
  
  #logo{
    width: 15vw;
    height: auto;
    margin-right: 10px;
  }

  p{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
    color: #fff;
    text-shadow: #cb6dcd 2px 2px 2px;
    
}
/* Create Charts */
* {
  margin: 1%;
}

h1, h2, p{
  font-family: 'Palatino', 'URW Palladio L', serif;
}

p{
  font-size: 1.2em;
}

h1{
  margin: 0;
}

 canvas{
  padding: 1%;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height:100%;
}

#creatingChart{
  margin: 0;
}

  #highscores {
  width: 600px;
  height: 600px;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2 columns for highscores and mostplayed_users, 1 column for fav_gadgets and fav_killersprite */
  grid-template-rows: auto auto auto auto; /* auto rows for content height */
  grid-gap: 5px; /* spacing between grid items */
  padding: 10px;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
  overflow-x: auto;

}

td {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}