@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
*{
    box-sizing: border-box;
}

.head{
  display: flex;

}

#logo{
  width: 300px;
  height: 200px;
  margin-right: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
  }

  header {
    color: #fff;
    padding: 10px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: start;
    padding: 10px;
  }
  
#title{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-size: 100px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 2px #29274C;
    text-align: center;
  }


  html {
    font-family: 'VT323', monospace;
    background: #E6BCCD;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    position: relative;
    padding-bottom: 50px; 
  }

@media (min-width: 768px) {
    /* adjust the height of the background for larger screens */
    .background {
      height: calc(100vh - 100px);
    }
  } 


sub{
  font-family: 'VT323', monospace;
  color: #ffffff;
  
  font-size: 5px;
}

  .subtopic {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'VT323', monospace;
    color: #ffff;
    text-shadow: #29274C 2px 2px 2px;
    font-size: 35px;
  }
  
#menu{
    grid-area: menu;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    /* top: 0; */
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #E68EB0;
  }
  

  .items{
    grid-area: items;
    font-family: 'VT323', monospace;
    font-size: 0px;
    display: flex;
    justify-content: center;
  }

p{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
    color: #ffffff;
    padding: 5px;
    text-shadow: none;
    
    
}

img{
  width: auto;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 50px;
}

video{
  width: auto;
  height: 300px;
  border-radius: 10px;
  border-radius: 10px;
}